# Игнорируем базу SQLite (если случайно оставишь)
bot.db

# Игнорируем временные файлы Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Игнорируем файлы среды
.env

# Игнорируем локальные IDE файлы
.vscode/
.idea/